/** COLORS*/

$color-primary: #294A97;
$color-primary-light: #4870cd;
$color-primary-dark: #1e366f;
$color-secondary: #8fc664;
$color-secondary-light: #aad489;
$color-secondary-dark: #6da83e;
$color-tertiary: #91373d;
$color-background-light: #0074b4;
$color-background-dark: #023667;

/*$color-background-light: #5792b1;
$color-background-dark: #026089;*/

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-white: #efefef;
$color-black: #000;
$color-semi-black: #333;
//*****GRID************
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
//*******FONTS**********
$default-font-size: 1.8rem;
$parag-font-size: 2.5rem;