.footer {
    padding: 2rem 0;
    background-color: $color-semi-black;
    //font-size: 1.4rem;
    line-height: 3rem;
    @include respond(tab-port) {
        padding: 5rem 0;
    }
    // @include respond(phone) {
    //     font-size: 2.4rem;
    // }
    .row {
        @include respond(phone) {
            margin-bottom: 3rem;
        }
    }
    &__logo-box {
        width: 35rem;
        margin: 0 auto 4rem;
        border-radius: 4px;
    }
    &__logo-image {
        width: 100%;
    }
    &__mailto {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
        }
        &:hover,
        &:active {
            color: $color-secondary;
        }
    }
    &__contacts,
    &__copyright {
        padding: 1rem;
        border-top: 1px solid $color-secondary-light;
        color: $color-grey-light-1;
        letter-spacing: 1px;
        line-height: 3rem;
        i {
            margin: 2rem 1rem;
            vertical-align: middle;
            font-size: 3rem;
            font-weight: bold;
            color: $color-secondary-light;
        }
    }
    &__contacts {
        position: relative;
        float: left;
        text-align: left;
        padding-left: 0;
        @include respond(tab-port) {
            float: none;
            width: 74%;
            margin: 0 auto;
            text-align: center;
        }
        @include respond(phone) {
            width: 100%;
            line-height: 4rem;
            font-size: 2.4rem;
        }
    }
    &__phone-number,
    &__email {
        margin-block-start: 0;
    }
    &__link {
        a:link,
        a:visited {
            color: $color-grey-light-1;
            text-decoration: none;
        }
        a:hover {
            color: $color-secondary;
        }
        &::after {
            content: 'Copy to Clipboard';
            display: none;
            position: absolute;
            z-index: 300;
            top: 1rem;
            right: -5rem;
            width: 180px;
            height: 36px;
            color: #fff;
            font-size: 10px;
            line-height: 36px;
            text-align: center;
            background-color: rgba($color-logo-blue, .72);
            border-radius: 3px;
            transition: all .5s;
        }
        &:hover {
            cursor: pointer;
            color: $color-secondary;
            &::after {
                display: block;
            }
        }
        &:active,
        &:focus {
            outline: none;
            &::after {
                content: 'Copied!';
            }
        }
    }
    &__copyright {
        float: right;
        text-align: right;
        @include respond(tab-port) {
            float: none;
            width: 74%;
            margin: 0 auto;
            text-align: center;
        }
        @include respond(phone) {
            width: 100%;
            line-height: 4rem;
            font-size: 2.4rem;
        }
    }
}