.header {
    position: relative;
    height: calc(100vh - 6rem);
    padding: 1rem 2rem;
    background-image: linear-gradient( 105deg, rgba($color-white, .7) 55%, transparent 50%), url(../img/hero-antenna-single-desktop.jpg);
    background-size: cover;
    background-position: bottom center;
    @include respond(tab-land) {
        background-image: linear-gradient( 105deg, rgba($color-white, .7) 55%, transparent 50%), url(../img/hero-antenna-single-tab-land.jpg);
    }
    @include respond(tab-port) {
        height: 100vh;
        background-image: linear-gradient( 105deg, rgba($color-white, .7), rgba($color-white, .7)), url(../img/hero-antenna-single-tab-port.jpg);
    }
    @include respond(phone) {
        background-image: linear-gradient( 105deg, rgba($color-white, .7), rgba($color-white, .7)), url(../img/hero-antenna-single-phone.jpg);
    }
    @include respond(small-phone) {
        background-image: linear-gradient( 105deg, rgba($color-white, .7), rgba($color-white, .7)), url(../img/hero-antenna-single-small-phone.jpg);
    }
    &__logo-box {
        width: 30rem;
        margin: 1.5rem 1rem;
        border-radius: 4px;
        clear: both;
    }
    &__logo {
        width: 100%;
    }
    &__text-box {
        margin-top: 9rem;
        text-align: center;
        @include respond(phone) {
            margin-top: 50%;
        }
    }
}