.feature-box {
    height: 37rem;
    padding: 2.5rem;
    background-image: linear-gradient(rgba($color-background-light, 1), rgba($color-primary-dark, 1));
    font-size: $default-font-size;
    color: $color-white;
    text-align: center;
    letter-spacing: .1rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    opacity: 0;
    transition: all .2s;
    @include respond(tab-port) {
        font-size: 2.5rem;
        height: 40rem;
    }
    &__icon {
        display: inline-block;
        color: transparent;
        font-size: 7rem;
        font-weight: bold;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
        -webkit-background-clip: text;
        background-clip: text;
    }
    &__text {
        text-align: justify;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    &:hover {
        transform: scale(1.05) translateY(-1.5rem);
        box-shadow: 0 3rem 6rem rgba($color-black, .3);
    }
    &--animated {
        opacity: 1;
        animation: moveInBottom .5s ease-out .5s;
        -webkit-animation: moveInBottom .5s ease-out .5s;
        animation-fill-mode: backwards;
    }
}