.people {
    width: 100%;
    &__list {
        list-style: none;
        width: 100%;
        margin: 0;
        @include clearfix;
    }
    &__list-item {
        float: left;
        width: 33.3333333%;
        @include respond(small-phone) {
            float: none;
            display: block;
            width: 100%;
        }
    }
    &__list-item-figure {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
        background-color: #fff;
    }
    &__image {
        width: 100%;
        height: auto;
        opacity: 0.3;
        transform: scale(1.15);
        transition: all 0.5s;
        &:hover {
            opacity: 1;
            transform: scale(1.035);
        }
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-secondary-dark;
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5rem;
        opacity: 1;
        transition: all .5s;
        @include respond(small-phone) {
            font-size: 3rem;
        }
    }
    &__list-item:hover &__caption {
        top: 100%;
        opacity: 0;
    }
}