.steps {
    &__image-box {
        width: 100%;
        margin-right: 3%;
        border-radius: 4px;
        overflow: hidden;
        text-align: right;
        opacity: 0;
        &--animated {
            opacity: 1;
            animation: moveInBottom .5s ease-out .5s;
            -webkit-animation: moveInBottom .5s ease-out .5s;
            animation-fill-mode: backwards;
        }
    }
    &__image-box {
        height: 70vh;
        width: 100%;
        background-image: linear-gradient(rgba($color-white, .3), rgba($color-white, .5)), url(../img/how-it-works-antenna.jpg);
        background-size: cover;
        background-position: top;
        background-size: 125%;
    }
    &__list {
        margin: 0 0 5rem 3%;
    }
    &__item {
        margin-bottom: 3rem;
        @include clearfix;
    }
    &__item-number {
        display: inline-block;
        height: 5.5rem;
        width: 5.5rem;
        vertical-align: middle;
        border: solid 2px $color-secondary;
        border-radius: 50%;
        padding: 5px;
        color: transparent;
        font-size: 150%;
        font-weight: 400;
        text-align: center;
        background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        @include respond(tab-port) {
            display: block;
            margin: 2rem auto;
        }
    }
    &__item-text {
        display: inline-block;
        width: 90%;
        padding-left: 2rem;
        vertical-align: middle;
        letter-spacing: 1px;
        font-size: $parag-font-size;
        text-align: justify;
    }
}