.heading-primary {
    margin-bottom: 8rem;
    color: $color-secondary-dark;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &--request {
        display: block;
        -webkit-animation: moveInLeft 2s;
        animation: moveInLeft 2s;
        @include respond(tab-land) {
            font-size: 3.7rem;
        }
        @include respond(phone) {
            letter-spacing: .5rem;
            font-size: 3rem;
        }
    }
    &--response {
        display: block;
        position: relative;
        color: $color-logo-blue;
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 5px;
        -webkit-animation: moveInRight 2s;
        animation: moveInRight 2s;
        @include respond(tab-land) {
            font-size: 2.8rem;
        }
        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    color: transparent;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5rem;
    background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .2s;
    @include respond(tab-land) {
        font-size: 3rem;
    }
    @include respond(phone) {
        font-size: 2.5rem;
    }
    &::after {
        display: block;
        content: "";
        height: 2px;
        width: 30%;
        margin: 1rem auto 0;
        background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
    }
    &--red {
        background-image: linear-gradient(to right, $color-tertiary, $color-tertiary);
    }
    &--red::after {
        display: block;
        content: "";
        height: 2px;
        width: 30%;
        margin: 1rem auto 0;
        background-image: linear-gradient(to right, $color-tertiary, $color-tertiary);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
    @include respond(tab-port) {
        font-size: 2.5rem;
    }
}

.paragraph {
    font-size: $parag-font-size;
    text-align: justify;
    letter-spacing: .15rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    @include respond(tab-port) {
        font-size: 2.8rem;
    }
}